.u-section-1 {
  background-image: url("images/background.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  margin: 75px auto 0 27px;
}

.u-section-1 .u-group-1 {
  width: 587px;
  background-image: none;
  min-height: 146px;
  margin: 31px auto 0 14px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 13px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 81px;
  height: 80px;
  margin: 13px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 81px;
  height: 80px;
  margin: -80px auto 0 94px;
}

.u-section-1 .u-image-3 {
  width: 81px;
  height: 80px;
  margin: -80px auto 0 187px;
}

.u-section-1 .u-image-4 {
  width: 81px;
  height: 80px;
  margin: -80px auto 0 280px;
}

.u-section-1 .u-image-5 {
  width: 81px;
  height: 80px;
  margin: -80px auto 0 374px;
}

.u-section-1 .u-image-6 {
  width: 81px;
  height: 80px;
  margin: -80px auto 0 467px;
}

.u-section-1 .u-group-2 {
  width: 587px;
  background-image: none;
  min-height: 258px;
  margin: 31px auto 0 14px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 13px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  margin: 78px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 99px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 193px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 286px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 380px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 473px;
  }

  .u-section-1 .u-group-2 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 360px;
  }

  .u-section-1 .u-image-1 {
    margin-left: -114px;
  }

  .u-section-1 .u-image-2 {
    margin-left: -21px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 73px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 166px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 260px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 353px;
  }

  .u-section-1 .u-group-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 270px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: -132px;
  }

  .u-section-1 .u-image-2 {
    margin-left: -39px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 55px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 148px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 242px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 301px;
  }

  .u-section-1 .u-group-2 {
    width: 270px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 170px;
  }

  .u-section-1 .u-image-1 {
    margin-left: -82px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 11px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 105px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 151px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 151px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 151px;
  }

  .u-section-1 .u-group-2 {
    width: 170px;
  }
}